flows/Send_Manual_SMS_Email_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Message_Template_Text</name>
        <label>Get Message Template Text</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <actionName>SMSEmailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Valid_SMS_Template</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>templateDevName</name>
            <value>
                <elementReference>MessageTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whatId</name>
            <value>
                <elementReference>whatId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whoId</name>
            <value>
                <elementReference>whoId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>templateLiteral</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>314</locationX>
        <locationY>1694</locationY>
        <actionName>liveMessageNotification</actionName>
        <actionType>liveMessageNotification</actionType>
        <connector>
            <targetReference>Send_SMS_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Send_SMS_Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextRecordId</name>
            <value>
                <elementReference>forContactOrLeadRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelDeveloperName</name>
            <value>
                <elementReference>Get_Message_Channel.DeveloperName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateDeveloperName</name>
            <value>
                <elementReference>MessageTemplateName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientPhone</name>
            <value>
                <elementReference>Get_Messaging_User.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientRecordId</name>
            <value>
                <elementReference>Get_Messaging_User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>This should be deleted once SMS is live with working numbers in Salesforce</description>
        <name>bypass_Flow</name>
        <label>bypass Flow</label>
        <locationX>523</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Get_Current_Cadence_Step</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Temp_No_SMS</targetReference>
            </connector>
            <label>Bypass True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Messaging_User_Found</name>
        <label>Messaging User Found</label>
        <locationX>996</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>No_Messaging_User_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_SMS_Template_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_SMS_Template_Name</name>
        <label>Has SMS Template Name</label>
        <locationX>798</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_SMS_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessageTemplateName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Message_Template_Text</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Valid_SMS_Template</name>
        <label>Has Valid SMS Template</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_SMS_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>templateLiteral</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact?</label>
        <locationX>996</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Messaging_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact</defaultConnectorLabel>
        <rules>
            <name>Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>whoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00Q</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_User</targetReference>
            </connector>
            <label>Lead</label>
        </rules>
    </decisions>
    <description>Updated Messaging Phone Formula.</description>
    <environments>Default</environments>
    <formulas>
        <name>forContactIdOnMessagingUser</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Contact.Id} != null, {!Get_Contact.Id}, null)</expression>
    </formulas>
    <formulas>
        <name>forContactOrLeadNumber</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Lead.Id} != null, {!Get_Lead.Phone_E164__c}, {!Get_Contact.Phone_E164__c})</expression>
    </formulas>
    <formulas>
        <name>forContactOrLeadRecordId</name>
        <dataType>String</dataType>
        <expression>IF( {!Get_Lead.Id} != null, {!Get_Lead.Id}, {!Get_Contact.Id})</expression>
    </formulas>
    <formulas>
        <name>MessageTemplateName</name>
        <dataType>String</dataType>
        <expression>RIGHT(
        {!Get_Current_Cadence_Step.ActionCadenceStep.StepComments}, 
        LEN({!Get_Current_Cadence_Step.ActionCadenceStep.StepComments}) - FIND(&apos;:&apos;, {!Get_Current_Cadence_Step.ActionCadenceStep.StepComments})
    )</expression>
    </formulas>
    <interviewLabel>Send Manual SMS/Email Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Manual SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>ActionCadenceStepFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>996</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Cadence_Step</name>
        <label>Get Current Cadence Step</label>
        <locationX>996</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>actionCadenceStepTrackerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ActionCadenceStepTracker</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>996</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>whoId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Message_Channel</name>
        <label>Get Message Channel</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_SMS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Messaging_User.MessagingChannelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User</name>
        <label>Get Messaging User</label>
        <locationX>996</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Messaging_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forContactOrLeadNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forContactIdOnMessagingUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Send_SMS_Screen</name>
        <label>Send SMS Screen Failure</label>
        <locationX>798</locationX>
        <locationY>2270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disNoTemplateDefined</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Send Text Message - No Template&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_TemplateText</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;em style=&quot;color: rgb(112, 112, 112); font-size: 10px;&quot;&gt;Invalid Message Template Defined In Sales Cadence.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>disNoTemplateDefinedText</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There is currently not a template defined for this text message, please instead navigate to &apos;Start Conversation&apos; and manually mark this step complete after sending the message.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Messaging_User_Found</name>
        <label>No Messaging User Found</label>
        <locationX>1194</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_disNoTemplateDefined</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Send Text Message - No Messaging User&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_disNoTemplateDefinedText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There is currently not a Messaging User associated with this number. Do the following then navigate back to this screen (a refresh may be required).&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Click &apos;Create Messaging User&apos;&lt;/span&gt;&lt;ol&gt;&lt;li&gt;Confirm phone number&lt;/li&gt;&lt;li&gt;Confirm channel&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Confirmation</name>
        <label>Send SMS Confirmation</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>disSuccesfulSend</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 20px; color: rgb(68, 68, 68);&quot;&gt;Send Text Message - Successfully Sent&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>disSuccessMessage</name>
            <fieldText>&lt;p&gt;This message has been sent successfully. Be sure to click &apos;&lt;strong&gt;Complete Step&lt;/strong&gt;&apos;, so that this step can be marked complete. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Complete Step</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Failure</name>
        <label>Send SMS Failure</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_disNoTemplateDefined</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Send Text Message - No Template&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_2_of_disNoTemplateDefinedText</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;There was an error sending this message, please instead navigate to &apos;Start Conversation&apos; and manually mark this step complete after sending the message.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Send_SMS_Screen</name>
        <label>Send SMS Screen</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Message_Channel</targetReference>
        </connector>
        <fields>
            <name>disTextToSend</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Send Text Message - Preview&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Line1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please ensure SMS Opt In has been received before communicating&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The text below will be sent in a Text Message upon clicking &apos;&lt;strong&gt;Send Message&lt;/strong&gt;&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;If you want to make any changes to this template, please instead navigate to &apos;Start Conversation&apos; and manually mark this step complete after sending the message.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_SMS_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_SMS_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Send_SMS_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Send_SMS_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TemplateText</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 225);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!templateLiteral}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Send Message</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Temp_No_SMS</name>
        <label>Temp No SMS</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TempNoSMS</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Send Text Message - SMS Currently Not Enabled&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TempSMSNotEnabled</name>
            <fieldText>&lt;p&gt;Currently this org is waiting on SMS Phone Numbers to be provisioned by Salesforce. Please proceed in skipping this step by clicking &apos;&lt;strong&gt;Complete&lt;/strong&gt;&apos;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Complete</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>bypass_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>actionCadenceStepTrackerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>templateLiteral</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whatId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>whoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
